/*h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}*/
/*body {font-family: "Open Sans"}*/
    
    
.select-boxes{text-align: center;}
select {
    background-color: #F5F5F5;
    border: 1px double #15a6c7;
    color: #1d93d1;
    font-family: Georgia;
    /*font-weight: bold;*/
    font-size: 12px;
    height: 32px;
    padding: 7px 8px;
    width: 100px;
    /*outline: none;*/
    /*margin: 10px 0 10px 0;    */
}
select option{
    font-family: Georgia;
    font-size: 14px;
}
    
    
/* Basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	font: 14px Roboto, sans-serif;
}

.form-control-label{text-align: right;}
label{
	color: #000000;
	font-size: 15px;
	margin: 10px 0 10px 0; 
}


p{
	text-align: left;
	color: #000000;
	font-size: 15px;
	margin: 10px 0 10px 0; 
	/*font-weight: bold;*/
}

/*CAJA DE DIALOGO*/
.caja {
	font-family: sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #000000;
	background: #90EE90;
	margin: 0 0 25px;
	overflow: hidden;
	padding: 20px;
	border-radius: 35px 0px 35px 0px;
	-moz-border-radius: 35px 0px 35px 0px;
	-webkit-border-radius: 35px 0px 35px 0px;
	border: 2px solid #3CB371;
}
